apiVersion: v1
kind: Service
metadata:
  labels:
    app: ldap
  name: ldap-service
  namespace: "{{ _amlen_namespace }}"
spec:
  ports:
  - port: 1389
    name: ldap
  - port: 1636
    name: ldaps
  selector:
    app: ldap
